<div class="admin-dashboard">
<h2 class="my-4">Hope you are having an amazing day! Admin😊</h2>
<p class="lead">Count for products available in the store currently is: <%= @product_count %></p>
<p class="lead">Count for category of products is: <%= @category_count %></p>
<p><%= link_to 'Products List', admin_products_path, class: 'btn btn-primary mt-3' %></p>
</div>